<!-- <GridLayout #maintitle rows="auto, 207, auto, *, 50"> -->
<GridLayout #maintitle rows="auto, *">


	<StackLayout row="0" class="main-layout-title">
		<Label text="{{msj_detail[0].title}}" class="main-title-msj" textWrap="true"></Label>
	</StackLayout>

	<ScrollView row="1">

				<GridLayout #gridmain rows="207, auto, *">

					<StackLayout row="0" class="image-style">
						<Image [src]="imageDeal" stretch="aspectFill" height="207" width="375"></Image>
					</StackLayout>

					<StackLayout row="1" width="327" height="187" class="main-layout-title" paddingTop="20">
						<TextView [text]="msj_detail[0].description" class="detail-msj"></TextView>
					</StackLayout>

					<StackLayout row="2" class="main-button">
						<Button text="{{ 'view_deal' | L }}" class="intro-style" (tap)="goViewDeal()"></Button>
					</StackLayout>		

				</GridLayout>	

	</ScrollView>	

<!--     <StackLayout row="2" orientation="horizontal">
        <Button text="&#xf06e;" textWrap="true" class="bottom-menu-maps" (tap)="goviewmap()" ></Button>
        <Button text="&#xf002;" textWrap="true" class="bottom-menu-maps" (tap)="gosearch()"></Button>
        <Button text="&#xf06d;" textWrap="true" class="bottom-menu-maps bottom-menu-maps-select" (tap)="goHotDeals()"></Button>
        <Button text="&#xf007;" textWrap="true" class="bottom-menu-maps" (tap)="gologinview()"></Button>
    </StackLayout>
 -->
</GridLayout>