<!-- <ActionBar title ="Discover"> -->
<!--    <ActionItem android.position="actionBar" ios.position="left" (tap)="onProfileButtonTap()">
    </ActionItem> -->
<!-- </ActionBar> -->
<commonmenu></commonmenu>
<!-- <ActionBar backgroundColor="green"></ActionBar> -->
<GridLayout rows="*,50">

    <MapView #mapView [latitude]="latitude" [longitude]="longitude"
         [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
         [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
         (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
         (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
         (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
         (cameraChanged)="onCameraChanged($event)"
         (cameraMove)="onCameraMove($event)">
    </MapView>


    <GridLayout rows=auto marginTop="90" marginRight="25" width="50" verticalAlignment="top" horizontalAlignment="right">                  
        <BUTTON left="1" top="10" text="&#xf0c9;" class="filter-menu" (tap)="gofilter()"></BUTTON>
    </GridLayout>
    <!-- 140 -->
    <StackLayout #maintitle verticalAlignment="top" class="homemarker-main-title">
        <Label text="{{'discover' | L}}" class="style-main-titles"></Label>
    </StackLayout>

    <StackLayout row="0" orientation="vertical" verticalAlignment="bottom" class="summary-layout" visibility="{{ showDetails }}" marginBottom="10">
        <GridLayout rows="auto,150,80">
            <StackLayout row="0" orientation="vertical">
                <Label [text]="title_marker_selected" textWrap="true" class="homemarker-title"></Label>
                <Label [text]="des_marker_selected" class="homemarker-description"></Label>                            
            </StackLayout>
            <StackLayout row="0" marginTop="35" horizontalAlignment="right" class="homemarker-icon" #myNgStack1 id="myStackId1"></StackLayout>
<!--             <StackLayout row="1">                
                
            </StackLayout> -->

<!--             <StackLayout row="0">
                <Label [text]="title_marker_selected" textWrap="true" class="homemarker-title"></Label>                
            </StackLayout>
            <StackLayout row="1">                
                <Label [text]="des_marker_selected" class="homemarker-description"></Label>
            </StackLayout>
            <StackLayout marginTop="35" horizontalAlignment="right" class="homemarker-icon" #myNgStack1 id="myStackId1">
                
            </StackLayout> -->

            <!-- <StackLayout row="0" orientation="vertical" class="homemarker-icon" marginLeft="260" marginTop="25" #myNgStack1 id="myStackId1">                 -->
            <!-- <StackLayout row="1" orientation="vertical" class="homemarker-description"> -->
                <!-- <Label [text]="des_marker_selected" class="homemarker-description"></Label> -->
            <!-- </StackLayout> -->
            <!-- <StackLayout row="1" orientation="horizontal" horizontalAlignment="center" verticalAlignment="center" class="homemarker-icon" marginLeft="250" marginTop="5" #myNgStack1 id="myStackId1"> -->                                
                <!-- <Image [src]="icon_type"></Image> -->
                <!-- <Label text="&#xf000;" textWrap="true" class="font-awesome"></Label>                 -->
            <!-- </StackLayout> -->
            <StackLayout row="1" orientation="vertical" class="homemarker-image" #myNgStack id="myStackId">
                <!-- <Image [src]="img_marker_selected" stretch="fill"></Image> -->
            </StackLayout>
            <StackLayout row="2" orientation="vertical" class="homemarker-button">
                <Button class="button-home-marker" text="{{messagefreebutton}}" (tap)="gomarkerprofile()"></Button>
            </StackLayout>
        </GridLayout>    
    </StackLayout>
    
    <ActivityIndicator id="indicator" row="0" #activityIndicator [busy]="isBusy" (busyChange)="onBusyChanged($event)" width="60" height="60" class="activity-indicator ext_loading" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

    
    <StackLayout row="1" orientation="horizontal">
        <Button text="&#xf06e;" textWrap="true" class="bottom-menu-maps" (tap)="goviewmap()" ></Button>
        <Button text="&#xf002;" textWrap="true" class="bottom-menu-maps" (tap)="gosearch()"></Button>
        <Button text="&#xf06d;" textWrap="true" class="bottom-menu-maps" (tap)="goHotDeals()"></Button>
        <Button text="&#xf007;" textWrap="true" class="bottom-menu-maps" (tap)="gologinview()"></Button>
    </StackLayout>

</GridLayout>