/* Add mobile styles for the component here.  */
/*.bottom-menu-maps {
    background-color: black;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 25%;
    height: 50;
}*/

.bottom-menu-maps:active {
    background-color: lightgray;
    color:white;
}

.homemarker-main-title{
    /*padding-top: 93;*/
    padding-left: 24;
    text-align: left;
    background-color: white;
    /*verticalAlignment="top"*/
}

.summary-layout {
    padding-left: 26;
    padding-right: 26;
    padding-bottom: 20;
    background-color: white;
    width: 355;
    height: 310;
    border-radius: 13;
    border-style: solid;
}

/*.summary-layout-description{

    color: #000000;
    font-size: 18px;
}
*/
.homemarker-title {
    padding-top: 35;
    font-family: "SFProDisplay-Bold";
    font-weight: bold;
    font-size: 22;
    color: #111111;
}

.homemarker-description {
    padding-top: 2;
    font-family: "SFProDisplay-Light";
    font-size: 15;
    color: #111111;
}

.homemarker-icon {
    height: 29.1;
    width: 29.1;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    padding-top: 4.9;
    padding-left: 8.7;
    padding-right: 8.7;
    padding-bottom: 4.9;
    /*background-color: black;*/


}

.homemarker-image {
    padding-top: 10;
}

.homemarker-button {
/*    width: 290;
    height: 50;
*/    padding-top: 20;
/*    vertical-align: middle;*/
}
.button-home-marker{
    width: 290;
    height: 50;
    border-radius: 8;
    background-color: #EE185F;         
    /*font-weight: bold;*/
    color: #FFFFFF;
    font-family: "SFProDisplay-Bold";
    font-weight: bold;
    font-size: 15;
    
}
.filter-menu{
    width: 40;
    height: 40;
    font-size: 20;
    color: white;
    background-color: black;
    border-radius: 20;
    font-family: FontAwesome;

}
