<GridLayout #maintitle rows="auto, *">
	<StackLayout row="0" class="main-layout-title">
		<Label text="{{'inbox' | L }}" class="main-title"></Label>
	</StackLayout>	

	<StackLayout row="1" backgroundColor="#d9d6e1">		
		<ScrollView>
			<StackLayout #stackmsj>
<!-- 				<StackLayout *ngFor="let msg of messagesList" class="block-text" height="82">
			    	<Label [text]="msg.title" class="title-msg" textWrap="true"></Label>
				    <StackLayout width="307" height="28" class="separator-line">
				    	<Label [text]="msg.hora" class="time-txt" style="{{msg.colortext}}" textWrap="true"></Label>
			    	</StackLayout>
				</StackLayout>
 -->			</StackLayout>
		</ScrollView>
	</StackLayout>	

<!--     <StackLayout row="2" orientation="horizontal">
        <Button text="&#xf06e;" textWrap="true" class="bottom-menu-maps" (tap)="goviewmap()" ></Button>
        <Button text="&#xf002;" textWrap="true" class="bottom-menu-maps" (tap)="gosearch()"></Button>
        <Button text="&#xf06d;" textWrap="true" class="bottom-menu-maps bottom-menu-maps-select" (tap)="goHotDeals()"></Button>
        <Button text="&#xf007;" textWrap="true" class="bottom-menu-maps" (tap)="gologinview()"></Button>
    </StackLayout>
 -->
</GridLayout>