<!-- <Carousel ios:finite="true" ios:bounce="false" showIndicator="true" indicatorColor="#66ccff" indicatorColorUnselected="#cceeff" height="50%" width="50%" #carruselO>
</Carousel>
 -->


<GridLayout #maintitle rows="auto, *, 50">
	
		<StackLayout row="0" class="main-layout-title" >
			<Label text="{{ 'hot_deals' | L}}" class="main-title"></Label>
		</StackLayout>
		<StackLayout row="0" paddingLeft="318" paddingRight="24.1" horizontalAlignment="right" verticalAlignment="bottom">
			<Button text="&#xf01c;" textWrap="true" class="bottom-inbox font-awesome" (tap)="goinbox()"></Button>
		</StackLayout>		

		<ScrollView row="1">
			<GridLayout rows="auto, auto, auto">
				<StackLayout row="0" class="main-layout-subtitle" backgroundcolor="#E8E6E6">
					<Label text="{{ 'trending' | L}}" class="main-subtitle"></Label>
					<Label text="" width="100%" height="10" class="subtitle-line"></Label>
				</StackLayout>
				<ScrollView scrollBarIndicatorVisible="false" row="1" orientation="horizontal" backgroundcolor="#E8E6E6" height="200">
				    <!-- *****<StackLayout orientation="horizontal" class="list-group" height="250" backgroundcolor="#E8E6E6" horizontalAlignment="center"> -->
<!-- 				        <GridLayout *ngFor="let itemsiter of myDataArray" rows="*" columns="300" class="list-group-item m-15 active"  backgroundcolor="#E8E6E6"> 
				            <Image row="0" rowSpan="2" [src]="'res://'+itemsiter.img" stretch="aspectFit" width=612 height="360" (tap)="goToDealImage(itemsiter)"></Image>
				        </GridLayout> -->
				        <GridLayout #myNgStack class="list-group-item m-15 active"  backgroundcolor="#E8E6E6"> 
<!-- 				            <Image row="0" rowSpan="2" [src]="'res://'+itemsiter.img" stretch="aspectFit" width=612 height="360" (tap)="goToDealImage(itemsiter)"></Image> -->
				        </GridLayout>				         
				    <!-- *****</StackLayout> -->
				</ScrollView>
				<StackLayout row="2" >
 					<StackLayout #myCategory backgroundcolor="#E8E6E6">

 					</StackLayout>

<!-- 					<StackLayout *ngFor="let item of categoryDeals"  backgroundcolor="#E8E6E6">
							<StackLayout class="main-layout-subtitle">
								<Label text="{{ getRecordId(item) | L}}" class="main-subtitle"></Label>
								<Label text="" width="100%" height="10" class="subtitle-line"></Label>
							</StackLayout>
							<ScrollView scrollBarIndicatorVisible="false" orientation="horizontal" backgroundcolor="#E8E6E6" height="200">
						    	<StackLayout orientation="horizontal" class="list-group" height="250"  backgroundcolor="#E8E6E6" horizontalAlignment="center">
						        	<GridLayout *ngFor="let itemsj of item[getRecordId(item)]" rows="*" columns="300" class="list-group-item m-15 active"  backgroundcolor="#E8E6E6"> 
						            	<Image row="0" rowSpan="2" [src]="'res://'+itemsj.img" stretch="aspectFit" width=612 height="360" (tap)="goToDealImage(itemsj)"></Image>
						        	</GridLayout> 
						    	</StackLayout>
							</ScrollView>
						</StackLayout> -->
				</StackLayout>				
			</GridLayout>			
		</ScrollView>
	
<!-- 	<GridLayout row="1" rows="auto">
		<GridLayout row="0" rows="auto, auto, auto">
			<ScrollView>
			<StackLayout row="0" class="main-layout-subtitle" backgroundcolor="#E8E6E6">
				<Label text="{{ 'trending' | L}}" class="main-subtitle"></Label>
				<Label text="" width="100%" height="10" class="subtitle-line"></Label>
			</StackLayout>
			<ScrollView row="1" orientation="horizontal" backgroundcolor="#E8E6E6">
			    <StackLayout orientation="horizontal" class="list-group" height="250"  backgroundcolor="#E8E6E6">
			        <GridLayout *ngFor="let itemsiter of myDataArray" rows="*, auto" columns="300" class="list-group-item m-15 active"  backgroundcolor="#E8E6E6"> 
			            <Image row="0" rowSpan="2" [src]="'res://'+itemsiter.img" stretch="aspectFit" width=612 height="360"></Image>
			        </GridLayout> 
			    </StackLayout>
			</ScrollView>

			<StackLayout row="2" >
				<StackLayout *ngFor="let item of categoryDeals"  backgroundcolor="#E8E6E6">
					<StackLayout class="main-layout-subtitle">
						<Label text="{{ getRecordId(item) | L}}" class="main-subtitle"></Label>
						<Label text="" width="100%" height="10" class="subtitle-line"></Label>
					</StackLayout>
					<ScrollView  orientation="horizontal" backgroundcolor="#E8E6E6">
					    <StackLayout orientation="horizontal" class="list-group" height="250"  backgroundcolor="#E8E6E6">
					        <GridLayout *ngFor="let itemsj of item[getRecordId(item)]" rows="*, auto" columns="300" class="list-group-item m-15 active"  backgroundcolor="#E8E6E6"> 
					            <Image row="0" rowSpan="2" [src]="'res://'+itemsj.img" stretch="aspectFit" width=612 height="360"></Image>
					        </GridLayout> 
					    </StackLayout>
					</ScrollView>
				</StackLayout>
			</StackLayout>
			</ScrollView>
		</GridLayout>
	</GridLayout> -->

  
	<StackLayout row="2" orientation="horizontal">
	    <Button text="&#xf06e;" textWrap="true" class="bottom-menu-maps" (tap)="goviewmap()" ></Button>
	    <Button text="&#xf002;" textWrap="true" class="bottom-menu-maps" (tap)="gosearch()"></Button>
	    <Button text="&#xf06d;" textWrap="true" class="bottom-menu-maps"></Button>
	    <Button text="&#xf007;" textWrap="true" class="bottom-menu-maps" (tap)="gologinview()"></Button>
	</StackLayout>

</GridLayout>
