/* Add mobile styles for the component here.  */
.main-layout-subtitle{
    padding-left: 36;
    padding-top: 10;
    padding-right: 36;
}

.main-subtitle{
    font-family: "SFProDisplay-Bold";
    font-size: 22;
    font-weight: bold;
    color: black;
}

.subtitle-line {
    border-bottom: solid;
    border-bottom-color: #757171;
    border-bottom-width: 2;

}
