<ActionBar>
    <ActionItem android.position="actionBar" ios.position="left" (tap)="onProfileButtonTap()">
        <!-- <Label text="&#xf053;" font-family="FontAwesome"></Label> -->
    </ActionItem>
</ActionBar> 
<!-- 50 -->
<GridLayout rows="200,auto,*,50" class="markerprofile-layout">
      <GridLayout row="0">   
        <Carousel #carousel ios:finite="true" ios:bounce="false" showIndicator="true" indicatorColor="#66ccff" indicatorColorUnselected="#cceeff" height="199" width="100%">
                <CarouselItem>
                    <Image src="{{imagedescription_a}}" stretch="aspectFill" ></Image>
                </CarouselItem>
                <CarouselItem>
                    <Image src="{{imagedescription_b}}" stretch="aspectFill"></Image>
                </CarouselItem>
                <CarouselItem>
                    <Image src="{{imagedescription_c}}" stretch="aspectFill"></Image>
                </CarouselItem>
        </Carousel>
      </GridLayout>
    <LABEL text="{{profile_id_selected.followers}}" verticalAlignment="top" marginTop="20" marginRight="20" horizontalAlignment="right" class="followers-style-number"></LABEL> 
    <!-- <LABEL verticalAlignment="top" marginTop="65" marginRight="20" horizontalAlignment="right" text="{{'followers' | L}}" class="followers-style-text"></LABEL> -->
    <LABEL verticalAlignment="top" marginTop="52" marginRight="20" horizontalAlignment="right" text="{{ 'followers' | L }}" class="followers-style-text"></LABEL>
    <StackLayout horizontalAlignment="right" class="homemarker-follow-button-layout" marginTop="15" marginRight="20">                
        <BUTTON text="{{ 'follow' | L }}" (tap)="onClickFollow()" class="homemarker-follow-button"></BUTTON>
    </StackLayout>

    
    <StackLayout row="1">
        <GridLayout rows="auto, auto">
            <!-- <StackLayout row="0" orientation="vertical" class="homemarker-title"> -->
                <!-- <Label text="{{profile_id_selected.title}}" textWrap="true"></Label>                 -->
            <!-- </StackLayout> -->
            <StackLayout row="1" orientation="vertical" class="homemarker-main-layout">
                <Label text="{{profile_id_selected.title}}" textWrap="true" class="homemarker-title"></Label>                
                <Label textWrap="true" text="{{profile_id_selected.shortdescription}}" horizontalAlignment="left" class="homemarker-description"></Label>
                <Label text=" " class="homemarker-line" height="10"></Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <!-- class="homemarker-follow-button" -->
<!--     <StackLayout horizontalAlignment="right" row="1" class="homemarker-follow-button-layout" width="120" height="50" marginRight="40">                
        <BUTTON text="follow" (tap)="onClickFollow()" class="homemarker-follow-button"></BUTTON>
    </StackLayout>
 -->
        <GridLayout row="2" class="homemarker-social-media">
          <ScrollView>  
            <StackLayout>
                <StackLayout class="homemarker-description-social">
                    <Label text="{{profile_id_selected.address}}"></Label>
                </StackLayout>
                <StackLayout class="homemarker-description-web">   
                    <Label text="{{profile_id_selected.web}}" (tap)="openURLMarker();"></Label>
                </StackLayout>
                <StackLayout orientation="horizontal" marginTop="5">
                    <StackLayout horizontalAlignment="left" orientation="vertical" backgroundColor="#3b5998" class="homemarker-facebook">
                    </StackLayout>
                    <StackLayout horizontalAlignment="left" marginLeft="5" orientation="vertical" backgroundColor="#cd486b" class ="homemarker-instagram">
                    </StackLayout>
                    <StackLayout marginLeft="5" horizontalAlignment="left" orientation="vertical" backgroundColor="#55acee" class ="homemarker-twitter">
                    </StackLayout>
<!--                     <StackLayout horizontalAlignment="right" class="homemarker-follow-button-layout" width="120" height="50" marginLeft="60">                
                        <BUTTON text="follow" (tap)="onClickFollow()" class="homemarker-follow-button"></BUTTON>
                    </StackLayout> -->
                </StackLayout>
            <StackLayout class="homemarker-deals">
                <Label text="{{ 'availables_deals' | L }}"></Label>
                <!-- <Label text="{{'availables_deals' | L}}"></Label> -->
            </StackLayout>
            <StackLayout height="10" class="homemarker-line-layout-a">                
                <Label text=" " class="homemarker-line "></Label>
            </StackLayout>

            <StackLayout class="homemarker-deals-images" marginBottom="25" orientation="vertical" #myNgStack>    
            <!-- <StackLayout  orientation="vertical" #myNgStack> -->
                <!-- <Image *ngFor="let element of images_descuentos" [src]="element.img" stretch="fill" (tap)="element.function"></Image>                 -->
<!-- <Image src="{{profile_id_selected.promos[0].img}}" stretch="fill" (tap)="onClickImga()"></Image>  -->
                <!-- <Image src="res://mercado/descuentoa" stretch="fill" (tap)="onClickImgb()"></Image>                -->
            </StackLayout>    
         </StackLayout>  
      </ScrollView>
    </GridLayout>

    <StackLayout row="3" orientation="horizontal">
        <Button text="&#xf06e;" textWrap="true" class="bottom-menu-maps" (tap)="goviewmap()"></Button>
        <Button text="&#xf002;" textWrap="true" class="bottom-menu-maps"></Button>
        <Button text="&#xf06d;" textWrap="true" class="bottom-menu-maps"></Button>
        <Button text="&#xf007;" textWrap="true" class="bottom-menu-maps" (tap)="gologinview()"></Button>
    </StackLayout>


</GridLayout>