/* Add mobile styles for the component here.  */
/*@import '~nativescript-theme-core/css/core.light.css';*/
.markerprofile-layout {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    /*font-weight: bold;*/
}
.followers-style-number{
    padding-top: 23px;
	width:83;
	height: 35; 
	background-color: black;
	color: white;
	/*font-weight: 700;*/
	font-size: 24;
	text-align: center;
	border-top-left-radius: 5;
	border-top-right-radius: 5;
    font-family: "SFProDisplay-Bold";
    font-weight: bold;
}

.followers-style-text{
	padding-top: 0;
	width:83;
	height: 25; 
	background-color: black;
	color: white;
	font-size: 10;
    font-family: "SFProDisplay-Light";
    text-align: center;
	border-bottom-left-radius: 5;
	border-bottom-right-radius: 5;
}

/*.summary-layout {
}*/

.homemarker-main-layout{
    padding-top: 15;
    padding-right: 40;
    padding-left: 40;
}

.homemarker-title {
    font-family: "SFProDisplay-Bold";
    font-size: 22;
    color: black;
    font-weight: bold;
}

.homemarker-description {
    font-family: "SFProDisplay-Light";
    font-size: 15;
    color: black;
}

.homemarker-follow-button-layout {
    /*padding-top: 10;*/
    /*padding-left: 250;*/
    vertical-align: middle;
}

.homemarker-follow-button {
    width: 83;
    height: 35;
    padding-top: 2;
    padding-bottom: 2;
    padding-left: 4;
    padding-right: 4;
    border-radius: 8;
    background-color: #EE185F;
    color: white;
    font-size: 12;
    font-family: "SFProDisplay-Bold";
    font-weight: bold;
}

.homemarker-line {
    border-bottom: solid;
    border-bottom-color: #757171;
    border-bottom-width: 2;

}

/*.homemarker-line-layout {
    padding-top: 40;
    padding-left: 40;
    padding-right: 40;

}
*/
.homemarker-line-layout-a {
    padding-top: 5;
    padding-right: 40;

}

.homemarker-social-media{    
    padding-top: 5;
    padding-left: 40;
}

.homemarker-description-social {
    color: black;
    font-size: 12;
    font-family: "SFProDisplay-Light";
}

.homemarker-description-web {
    color: black;
    font-size: 12;
    font-style: normal;
    padding-top: 5; 
    font-family: "SFProDisplay-Medium";
}

.homemarker-deals-images{
    padding-top: 20;
    padding-right: 40;
    /*padding-left: 40;*/
}

.homemarker-deals {
    color: black;
    font-size: 16;
    /*font-weight: bold;*/
    padding-top: 10; 
    font-family: "SFProDisplay-Bold";
    font-weight: bold;
}

.homemarker-facebook {
    width: 35;
    height: 35;
    border-radius: 4;
}

.homemarker-twitter {
    width: 35;
    height: 35;
    border-radius: 4;
}

.homemarker-instagram {
    width: 35;
    height: 35;
    border-radius: 4;
}
.bottom-menu-maps {
    background-color: black;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 25%;
    height: 50;
}

.bottom-menu-maps:active {
    background-color: lightgray;
    color:white;
}
/*.image-list-deals{
    padding-bottom: 5;
}*/
