
  <GridLayout rows="auto,*,auto">
    <GridLayout #maintitle rows="44" class="markerprofile-layout">
      <StackLayout row="0" class="title-layout">
        <LABEL text="{{'profile' | L}}"></LABEL>
      </StackLayout>
    </GridLayout>

  <GridLayout row="1">    
  <ScrollView>
    <StackLayout>
      <GridLayout rows="auto" class="section-one">

       <StackLayout row="0" height="115" verticalAlignment="top" horizontalAlignment="left">
        <Image stretch="fill" [src]="urlImage" class="photo-profile" horizontalAlignment="left"></Image>   
       </StackLayout>

       <StackLayout row="0" height="20" marginTop="138" verticalAlignment="top" horizontalAlignment="left">
          <Label [text]="nickUser" textWrap="true" class="nick-user-title"></Label>     
       </StackLayout>

       <StackLayout row="0" height="20" marginTop="166" verticalAlignment="top" horizontalAlignment="left">
          <Label [text]="nameUser" textWrap="true" class="user-title"></Label>     
       </StackLayout>

       <StackLayout row="0" height="20" marginTop="186" verticalAlignment="top" horizontalAlignment="left">
          <Label [text]="cityUser" textWrap="true" class="city-title"></Label>     
       </StackLayout>              
       <!-- Followers -->
       <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginLeft="236" marginTop="15" (tap)="getFollowersInfo()">
          <LABEL text="{{userLogData.followers}}" horizontalAlignment="left" class="followers-style-number"></LABEL> 
       </StackLayout>
        <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginLeft="236" marginTop="46" (tap)="getFollowersInfo()">
          <LABEL verticalAlignment="top" horizontalAlignment="left" text="{{'followers' | L}}" class="followers-style-text"></LABEL>
        </StackLayout>
       <!-- Following -->
        <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginLeft="153" marginTop="15" (tap)="getFollowingInfo()">
          <LABEL text="{{userLogData.following}}" verticalAlignment="top" horizontalAlignment="right" class="followers-style-number"></LABEL> 
        </StackLayout>
        <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginLeft="153" marginTop="46" (tap)="getFollowingInfo()">
          <LABEL verticalAlignment="top" horizontalAlignment="right" text="{{'following' | L}}" class="followers-style-text"></LABEL>
        </StackLayout>
        <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginTop="26" marginLeft="224.5" class="style-vertical-line" height="38" width="1">

        </StackLayout>

<!-- VALE para PROFILE -->

<!--         <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginTop="80" marginLeft="147">
          <BUTTON text="edit profile" class="button-edit" visibility="{{ showDetails }}"></BUTTON>
        </StackLayout>

        <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginTop="80" marginLeft="230">
          <BUTTON text="impressum" class="button-edit" visibility="{{ showDetails }}"></BUTTON>
        </StackLayout> -->

        <!-- Button Follow -->

        <StackLayout row="0" verticalAlignment="top" horizontalAlignment="left" marginTop="151" marginLeft="222">
          <BUTTON text="{{labelfollowbutton}}" class="homemarker-follow-button" (tap)="onClickFollow()" visibility="{{ showDetails }}"></BUTTON>
        </StackLayout>                        





<!-- 
        STACKS PARA INTERESES
        <GridLayout marginTop="150" marginRight="10">
          <StackLayout orientation="horizontal" horizontalAlignment="right">
            <StackLayout *ngFor="let itemInt of linteresesDown" class="auto-interest" horizontalAlignment="center" verticalAlignment="center" marginRight="10" backgroundcolor="white">
              <Image [src]="'res://'+itemInt.img" [width]="itemInt.width" [height]="itemInt.height"></Image>
            </StackLayout>
          </StackLayout>        
        </GridLayout>
        PARA DOBLE 9
        <GridLayout marginTop="80" marginRight="10">
          <StackLayout orientation="horizontal" horizontalAlignment="right">
            <StackLayout *ngFor="let itemInt of linteresesUp" class="auto-interest" horizontalAlignment="center" verticalAlignment="center" marginRight="10" backgroundcolor="white">
              <Image [src]="itemInt.img" [width]="itemInt.width" [height]="itemInt.height"></Image>
            </StackLayout>
          </StackLayout>        
        </GridLayout> 
        FIN STACKS PARA INTERESES
      -->      

      </GridLayout> 

  <GridLayout rows="auto">
      <StackLayout row="0" orientation="vertical" class="main-layout-desprofile">
<!--           <Label [text]="nameUser" textWrap="true" class="homemarker-title"></Label>                          
          <Label [text]="cityUser" class="homemarker-description"></Label>                 
 -->          <Label text=" " class="homemarker-line" height="10"></Label>
      </StackLayout>
  </GridLayout>
      <GridLayout row="1" class="homemarker-social-media">
        <StackLayout>
          <StackLayout orientation="horizontal" marginTop="5">
              <StackLayout horizontalAlignment="left" orientation="vertical" backgroundColor="#3b5998" class="homemarker-facebook">
              </StackLayout>
              <StackLayout horizontalAlignment="left" marginLeft="5" orientation="vertical" backgroundColor="#cd486b" class ="homemarker-instagram">
              </StackLayout>
<!--               <StackLayout marginLeft="5" horizontalAlignment="left" orientation="vertical" backgroundColor="#55acee" class ="homemarker-twitter">
              </StackLayout> -->
<!--               <StackLayout horizontalAlignment="right" class="homemarker-follow-button-layout" width="120" height="50" marginRight="40">                
                  <BUTTON text="{{labelfollowbutton}}" class="homemarker-follow-button" visibility="{{ showDetails }}" (tap)="onClickFollow()"></BUTTON>
              </StackLayout> -->
          </StackLayout>
          <!--  -->
<!--           <StackLayout horizontalAlignment="left" orientation="horizontal">
            <Label text="Lorem ipsum" class="homemarker-description"></Label>
          </StackLayout>              
 -->

          <StackLayout class="homemarker-deals">
              <Label text="{{'deals_redeemed' | L}}"></Label>
          </StackLayout>

          <StackLayout height="10" class="homemarker-line-layout-a">                
              <Label text=" " class="homemarker-line "></Label>
          </StackLayout>

          <StackLayout class="homemarker-deals-images" marginBottom="25">

	          <Carousel #carouselO ios:finite="true" ios:bounce="false" showIndicator="true" indicatorColor="#66ccff" indicatorColorUnselected="#cceeff" height="100%" width="100%">
	          </Carousel>

          </StackLayout>   
          
          <ActivityIndicator id="indicator" #activityIndicator [busy]="isBusy" (busyChange)="onBusyChanged($event)" width="60" height="60" class="activity-indicator ext_loading" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

        </StackLayout>  
      </GridLayout>      
    </StackLayout>
  </ScrollView>
  </GridLayout>

      <StackLayout row="4" orientation="horizontal">
          <Button text="&#xf06e;" textWrap="true" class="bottom-menu-maps" (tap)="goviewmap()"></Button>
          <Button text="&#xf002;" textWrap="true" class="bottom-menu-maps" (tap)="gosearch()"></Button>
          <Button text="&#xf06d;" textWrap="true" class="bottom-menu-maps" (tap)="goHotDeals()"></Button>
          <Button text="&#xf007;" textWrap="true" class="bottom-menu-maps" (tap)="gologinview()"></Button>
      </StackLayout>

  </GridLayout>
