/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */

.markerprofile-layout {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.title-layout {
    font-size: 40px;
    font-weight: bold;
    padding-left: 30;
    padding-top: 10;
}

.followers-style-number{
    padding-top: 30px;
	width:65;
	height: 45; 
	background-color: black;
	color: white;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
}

.followers-style-text{
	padding-top: 0;
	width:65;
	height: 30; 
	background-color: black;
	color: white;
	font-size: 12px;
    text-align: center;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
}

.main-layout-desprofile{
    padding-top: 12;
    padding-left: 40;
    padding-right: 40;  
}

.homemarker-title {
/*	padding-top: 12;
    padding-left: 40;
    padding-right: 40;
*/}

.homemarker-description {
    padding-top: 5;
    /*padding-left: 40;*/
    font-size: 17px;
    color: #757171;
}

.homemarker-follow-button-layout {
    /*padding-top: 10;*/
    /*padding-left: 250;*/
    vertical-align: middle;
}

.homemarker-follow-button {
    width: 85;
    height: 30;
    padding-top: 2;
    padding-bottom: 2;
    padding-left: 4;
    padding-right: 4;
    border-radius: 5;
    background-color: #EE185F;
    color: white;
    font-size: 14px;
}

.homemarker-line {
    border-bottom: solid;
    border-bottom-color: #757171;
    border-bottom-width: 2;

}

.homemarker-line-layout {
    /*padding-top: 40;*/
    padding-left: 40;
    padding-right: 40;

}

.homemarker-follow-button-layout {
    /*padding-top: 10;*/
    /*padding-left: 250;*/
    vertical-align: middle;
}

.homemarker-follow-button {
    width: 85;
    height: 30;
    padding-top: 2;
    padding-bottom: 2;
    padding-left: 4;
    padding-right: 4;
    border-radius: 5;
    background-color: #EE185F;
    color: white;
    font-size: 14px;
}

.homemarker-social-media{    
    padding-top: 5;
    padding-left: 40;
}

.homemarker-facebook {
    width: 35;
    height: 35;
    border-radius: 5;
}

.homemarker-twitter {
    width: 35;
    height: 35;
    border-radius: 5;
}

.homemarker-instagram {
    width: 35;
    height: 35;
    border-radius: 5;
}

.homemarker-line-layout-a {
    padding-top: 5;
    padding-right: 40;

}

.bottom-menu-maps {
    background-color: black;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 25%;
    height: 50;
}

.bottom-menu-maps:active {
    background-color: lightgray;
    color:white;
}

.homemarker-deals {
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10; 
}

.homemarker-deals-images{
    padding-top: 20;
    padding-right: 40;
    /*padding-left: 40;*/
}

/*.imagebackground{
	height: 30%;
	width: 100%;
	stretch: aspectFill; 
	
}

.profiletxt{
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

.nametxt{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	align-content: center;
	word-wrap: true;
}

.followbtn{
	color: #ffffff;
    background-color:#ff2d4c;
    width: 20%;
}

.Grid[col="0"] {
	text-align: left;
}

.Grid[col="2"] {
	text-align: right;
}

.btnsocial{
	width: 15%;
	height: 15%;
	text-align: center;
}

.btnsocial1{
	color: #ffffff;
    background-color:#c32aa3;
}

.btnsocial2{
	color: #ffffff;
    background-color:#3b5998;
}

.btnsocial3{
	color: #ffffff;
    background-color:#1da1f2;
}

.texto-encima{
    position: absolute;
    top: 10%;
    left: 80%;
}
*/