
<GridLayout #maintitle rows="auto, 6, 51, *, 50">
	<StackLayout row="0" class="main-layout-title">
		<Label text="{{'search' | L }}" class="main-title"></Label>
	</StackLayout>
	<StackLayout row="1">

	</StackLayout>
    
    <StackLayout row="2" backgroundcolor="#E8E6E6">
        <SearchBar hint="Search" [formControl]="searchControl" (tap)="clearTextFieldFocus($event)" class="search-bar"></SearchBar>

        <!-- <SearchBar hint="Search" [formControl]="searchControl" (loaded)="searchBarLoaded($event)" (submit)="onSubmit($event)" (tap)="clearTextFieldFocus($event)"class="search-bar"></SearchBar> -->
        <!-- <SearchBar [formControl]="searchControl" (loaded)="searchBarLoaded($event)" class="search-bar"></SearchBar> -->

    </StackLayout>          

	<GridLayout row="3" rows="*">

		<ScrollView> 
			<StackLayout row="1" #myNgStack class="label-search" backgroundcolor="#E8E6E6">
<!-- 				<GridLayout #myNgStack>
					
				</GridLayout> -->
			</StackLayout>
		</ScrollView>
	</GridLayout>

	<ActivityIndicator id="indicator" row="3" #activityIndicator [busy]="isBusy" (busyChange)="onBusyChanged($event)" width="60" height="60" class="activity-indicator ext_loading" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
	
    <StackLayout row="4" orientation="horizontal">
        <Button text="&#xf06e;" textWrap="true" class="bottom-menu-maps" (tap)="goviewmap()" ></Button>
        <Button text="&#xf002;" textWrap="true" class="bottom-menu-maps" (tap)="gosearch()"></Button>
        <Button text="&#xf06d;" textWrap="true" class="bottom-menu-maps" (tap)="goHotDeals()"></Button>
        <Button text="&#xf007;" textWrap="true" class="bottom-menu-maps" (tap)="gologinview()"></Button>
    </StackLayout>
                
</GridLayout>

